ng-select {
  margin-top: 7px;
  margin-bottom: 7px;
}

.ng-value-label {
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-black);
  cursor: pointer !important;
}

.ng-dropdown-panel {
  margin-top: 10px;
  padding: 16px 0;
  background: var(--primary-white);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
}

.ng-option {
  padding: 10px 16px;
  font-weight: 500;
  font-size: 12px;
  color: var(--primary-black);

  &:hover {
    background-color: rgba(0,0,0,0.04);
  }
}

.ng-input input {
  font-size: 12px;
}
