@import "src/scss/mixins";

.customize-filter {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 12px;
  color: var(--primary-blue);

  svg {
    margin-right: 10px;
    fill: currentColor;

    @include sm {
      margin-right: 0;
    }
  }

  @include sm {
    color: var(--light-theme-secondary);
  }
}
